<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>파킹박</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>kakao71df8d2939975788b6fee8dd85acb245</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>GoogleLogin</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.569856446356-7vgpr21i18gf3skkm6uluag40mh35q47</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>Bundle ID</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>kr.wisemobile.parking</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>naver</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>kr.wisemobile.parking</string>
            </array>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>KAKAO_APP_KEY</key>
    <string>71df8d2939975788b6fee8dd85acb245</string>
    <key>KAKAO_APP_SCHEME</key>
    <string>kakao71df8d2939975788b6fee8dd85acb245</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>kakaokompassauth</string>
        <string>muvo</string>
        <string>mbluelink</string>
        <string>mgenesis</string>
        <string>kakaolink</string>
        <string>tel</string>
        <string>telprompt</string>
        <string>ollehnavi</string>
        <string>kakaomap</string>
        <string>naversearchapp</string>
        <string>naversearchthirdlogin</string>
        <string>tmap</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NMFClientId</key>
    <string>taykdvx2ps</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSAllowsLocalNetworking</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>ads-partners.coupang.com</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
            <key>localhost</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
            <key>cafe.wisemobile.kr</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
            <key>192.168.0.29</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
            <key>192.168.0.60</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
            <key>172.30.1.55</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>NSLocalNetworkUsageDescription</key>
    <string>이 앱은 같은 네트워크에 있는 장비와 통신하기 위해 로컬 네트워크 접근이 필요합니다.</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>Play using while you are hiking</string>
    <key>NSCameraUsageDescription</key>
    <string>$(PRODUCT_NAME) 내가 주차한 위치 또는 주차장정보를 파악하기위해 카메라 기능이 필요합니다.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>$(PRODUCT_NAME) 주변지역 주차장을 쉽게 찾기위해 사용자의 위치가 필요합니다.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>$(PRODUCT_NAME) 주변지역 주차장을 쉽게 찾기위해 사용자의 위치가 필요합니다. </string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>$(PRODUCT_NAME) 내가 주차한 위치 또는 주차장정보를 파악하기위해 갤러리 기능이 필요합니다.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>개인화된 광고를 제공하기 위해 광고 식별자를 사용합니다.</string>
    <key>UIAppFonts</key>
    <array>
        <string>AntDesign.ttf</string>
        <string>Entypo.ttf</string>
        <string>EvilIcons.ttf</string>
        <string>Feather.ttf</string>
        <string>FontAwesome.ttf</string>
        <string>FontAwesome5_Brands.ttf</string>
        <string>FontAwesome5_Regular.ttf</string>
        <string>FontAwesome5_Solid.ttf</string>
        <string>Fontisto.ttf</string>
        <string>Foundation.ttf</string>
        <string>Ionicons.ttf</string>
        <string>MaterialIcons.ttf</string>
        <string>MaterialCommunityIcons.ttf</string>
        <string>SimpleLineIcons.ttf</string>
        <string>Octicons.ttf</string>
        <string>Zocial.ttf</string>
        <string>Pretendard-Bold.ttf</string>
        <string>Pretendard-Light.ttf</string>
        <string>Pretendard-Medium.ttf</string>
        <string>Pretendard-Regular.ttf</string>
        <string>Pretendard-SemiBold.ttf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>BootSplash.storyboard</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
</dict>
</plist>